* {
    position: relative;
}

body {
    background-color: #dddddd;
    margin: 0px;
    padding: 0px;
}  

.header {
    background-color: #ffffff;
    color: #cccccc;
    margin: 0px;
    padding: 0px;
    height: 70px;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    text-align: center;
}

.logo {
    background-color: #4aaaa5;
    float: left;
    font-size: 35px;
    position: fixed;
    margin-top: 30px;
    color: #ffffff;
    margin-left: 300px;
}

.nav {
    float: right;
    margin-top: 30px;
    margin-right: 300px;
}

.nav a {
    list-style: none;
    color: #666666;
    margin-bottom: 0px;
    margin-right: 20px;
}
   
.mainContent {
    width: 960px;
    padding: 20px;
    margin: auto;
    background-color: #ffffff;
    border-color: #dddddd;
    height: 500px; 
}

h1 {
    color: #4aaaa5;
    font-family: 'Georgia', 'Times', 'Times New Roman', 'serif';
    margin-bottom: 10px;
    padding: 0px;
}

.image {
    margin-top: 20px;
    padding: 0px;
    float: left;
    margin-right: 10px;
    margin-bottom: 20px;
    border: solid #dddddd;
}

.paragraph {
    margin-top: 30px;
    color: #777777;
    font-size: 20px;
    font-display: 'Arial', 'Helvetica Neue', 'Helvetica', 'sans-serif';
}

footer {
    position: fixed;
    text-align: center;
    width: 100%;
    bottom: 0px;
    height: 50px;
    background-color: #666666;
    outline: 10px solid #4aaaa5;
}































